[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[script]
django = "django-admin"

[packages]
django = "*"
django-rest-framework = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
