[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python manage.py runserver"

[packages]
django = ">=3.2.1"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"
uvicorn = "*"
websockets = "*"
channels = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
channels-redis = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.9"
