$padding: 30px;

.message-to {
  background: blue;
  color: white;
  padding-right: $padding;
}

.message-content{
  padding: 0 $padding;
}

.message {
  text-align: right;
  background: antiquewhite;
  color: black;
}

.date {
  text-align: right;
  padding-right: $padding;
}
