<a href="/register">Register</a>
<br>
<app-form-input
    [type]="'name'"
    [placeholder]="'Username'"
    [name]="'Username'"
    [max]="30"
    [min]="4"
    [pattern]="'[A-Za-z0-9!#$&*:;.,]{4,60}'"
    (validResult)="nameValid($event)"
>
</app-form-input>
<app-form-input 
    [type]="'password'"
    [placeholder]="'Password'"
    [name]="'Password'" 
    [max]="60" 
    [min]="4"
    [pattern]="'[A-Za-z0-9!#$&*:;.,]{4,60}'"
    (validResult)="passwordValid($event)"
>
</app-form-input>
<button class="button" [disabled]="!(passwordCorrect && nameCorrect)">Login in</button>