<button (click)="logout()">Logout</button>
<h1>Welcome {{ username }}</h1>
<div>
  <label for="message">Message: </label>
  <input
    id="message"
    type="text"
    [formControl]="messageInput"
    placeholder="Send a message"
  />
  <button (click)="sendMessage()">Send</button>
</div>
<div id="friend-list">
  <p *ngFor="let friend of friendList" (click)="selectFriend($event)">
    {{ friend }}
  </p>
</div>
<p>Selected friend: {{ selectedFriend }}</p>
<div id="chat">
  <app-message
    *ngFor="let message of messageList"
    [message]="message"
  ></app-message>
</div>
