<button (click)="logout()">Logout</button>
<h1>Welcome {{ username }}</h1>
<div>
  <label for="message">Message: </label>
  <input
    [formControl]="messageInput"
    id="message"
    placeholder="Send a message"
    type="text"
  />
  <button class="button" (click)="sendMessage()" [disabled]="selectedFriend == ''">Send</button>
</div>
<div id="friend-menu">
  <div id="friend-search">
    <label>
      <input (input)="setSearchFriend()" [formControl]="searchFriendInput" placeholder="Search your friend!"
             type="text">
    </label>
    <p>{{ errorMessage }}</p>
    <button (click)="addFriend()" [disabled]="disable" class="button">Add</button>
    <button (click)="removeFriend()" [disabled]="disable" class="button">Remove</button>
  </div>
  <div id="friend-list">
    <p (click)="selectFriend($event)" *ngFor="let friend of friendList">
      {{ friend }}
    </p>
  </div>
  <p>Selected friend: {{ selectedFriend }}</p>
</div>
<div id="chat">
  <app-message
    *ngFor="let message of messageList"
    [message]="message"
  ></app-message>
</div>
