@import "variable";
@import "input";

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-info{
  display: flex;
  flex-direction: column;
  margin-top: $form-margin;
  margin-bottom: $form-margin;
}

.error-msg{
  color: red;
  text-align: center;
}
