@import "variable";

header {
  background: $header-background;
  color: $header-font-color;
  padding: 10px 10px;
  margin: 0;
  font-family: $header-font;
}

.img-home{
  transform: scale(2);
}

#header-content{
  text-align: center;
}

a{
  text-decoration: none;
  color: $header-font-color;
  text-align: center;
}

.title{
  font-size: 40pt;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 7px;
}

.menu{
  text-align: left;
  font-size: 34px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#home-img{
  position: relative;
  transform: scale(0.9);
}
