$body-backgournd:#0a1058;
$header-background: #ff9135;

html {
    outline-width: 0;
}

body{
    background: $body-backgournd;
    color: green;
}

.register-button-enable{
    cursor: default;
}

.register-button-disable{
    cursor: not-allowed;
}
