$body-background:  	#f4a261;
$header-background: #e76f51;
$header-font-color: #E7EAE9;
$header-font: 'Ubuntu', sans-serif;
$form-margin: 10px;
$input-font-size: 22px;
$input-font: 'Hind Siliguri', sans-serif;
$input-border-radius: 50px;
$register-button-background-disable: #264653;
$register-button-background-enable: #2a9d8f;

