<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-content">
            <nav class="menu">
                <a href="/register">Register</a>
            </nav>
            <h1 class="title">Webscoket</h1>
        </div>
    </header>
    <main>
        <form id="form" action="/verify" th:object="${user}" method="post">
            <div id="main-info">
                <input class="text-input" type="text" th:field="*{username}" placeholder="Username" name="username">
                <span class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</span>
                <input class="text-input" type="password" th:field="*{password}" placeholder="Password" name="password">
                <span class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
            </div>
            <nav class="nav">
                <div th:if="${userError}">
                    <span class="error-msg" th:text="${userError}">User Error</span>
                    <br>
                </div>
                <a href="/forget">Forget password?</a>
            </nav>
            <button id="register-button">Login</button>
        </form>
    </main>
</body>
</html>