<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <h1>Register</h1>
        <nav>
            <a href="/">Login Page</a>
        </nav>
    </header>
    <main>
        <form action="/register" method="post" th:object="${user}">
            <div>
                <input type="text" placeholder="Nickname" name="name" th:field="*{name}" required>
                <span id="name-error"></span>
                <input type="password" placeholder="Password" th:field="*{password}" required>
                <span id="password-error"></span>
                <input type="password" placeholder="Repeat Password" required>
                <input type="email" placeholder="Email" th:field="*{email}" required>
                <span id="email-error"></span>
                <input type="email" placeholder="Repeat Email" required>
            </div>
            <div>
                <label for="date">Your birthday</label>
                <input id="date" type="date" th:field="*{birthday}" required>
            </div>
            <div>
                <div>
                    <label for="male-gender">Male</label>
                    <input id="male-gender" th:field="*{gender}" type="radio" name="gender" value="Male">
                </div>
                <div>
                    <label for="female-gender">Female</label>
                    <input id="female-gender" th:field="*{gender}" type="radio" name="gender" value="Female">
                </div>
            </div>
            <button id="register-button">Register</button>
        </form>
    </main>
    <footer>
        <script src="js/lib/validation.js"></script>
    </footer>
</body>
</html>