<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <header>
        <h1>Register</h1>
        <nav>
            <a href="/">Login Page</a>
        </nav>
    </header>
    <main>
        <form action="/register" method="post" th:object="${user}">
            <div>
                <input type="text" placeholder="Nickname" name="name" th:field="*{name}">
                <input type="password" placeholder="Password" th:field="*{password}">
                <input type="password" placeholder="Repeat Password">
                <input type="email" placeholder="Email" th:field="*{email}">
                <input type="email" placeholder="Repeat Email">
            </div>
            <div>
                <label for="date">Your birthday</label>
                <input id="date" type="date" th:field="*{birthday}">
            </div>
            <div>
                <div>
                    <label for="male-gender">Male</label>
                    <input id="male-gender" th:field="*{gender}" type="radio" name="gender" value="Male">
                </div>
                <div>
                    <label for="female-gender">Female</label>
                    <input id="female-gender" th:field="*{gender}" type="radio" name="gender" value="Female">
                </div>
            </div>
            <button>Register</button>
        </form>
    </main>
</body>
</html>