<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/registerPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-content">
            <nav class="menu">
                <a href="/">
                    <img id="home-img" src="img/home-run.png" alt="home">
                </a>
            </nav>
            <h1 class="title">Register</h1>
        </div>
    </header>
    <main>
        <form id="form" action="/user" method="post" th:object="${user}">
            <div id="main-info">
                <input class="text-input" type="text" placeholder="Nickusername" name="username" th:field="*{username}" required>
                <span class="error-msg" id="username-error" th:errors="*{username}"></span>
                <input class="text-input" type="password" placeholder="Password" th:field="*{password}" required>
                <span class="error-msg" id="password-error" th:errors="*{password}"></span>
                <input class="text-input" type="password" id="repeat-password" placeholder="Repeat Password" required>
                <span class="error-msg" id="password-repeat-error"></span>
                <input class="text-input" type="email" placeholder="Email" th:field="*{email}" required>
                <span class="error-msg" id="email-error" th:errors="*{email}">Email</span>
                <input class="text-input" type="email" placeholder="Repeat Email" id="repeat-email" required>
                <span class="error-msg" id="email-repeat-error"></span>
            </div>
            <div id="date-div">
                <label for="date-input">Your birthday</label>
                <input id="date-input" type="date" th:field="*{birthday}" required>
            </div>
            <div id="gender-choose">
                <div>
                    <label for="female-gender">Female</label>
                    <input class="radio-button" id="female-gender" th:field="*{gender}" type="radio" name="gender" value="Female">
                </div>
                <div>
                    <label for="male-gender">Male</label>
                    <input class="radio-button" id="male-gender" th:field="*{gender}" type="radio" name="gender" value="Male">
                </div>
            </div>
            <button id="basic-button">Register</button>
        </form>
    </main>
    <footer>
        <script src="js/lib/validation.js"></script>
    </footer>
</body>
</html>